@import url(http://fonts.googleapis.com/css?family=Exo:600&subset=latin,latin-ext);


html, body {
  padding: 0;
  margin: 0;

  background-color: #0e1011;
}

* {
  font-family: 'Exo', Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #FFFFFF;
}

img {
  border: none;
}

form.search {
  float: right;
  margin: 0;
  padding: 0;
}

form.search fieldset {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #707880;
  background-color: #1a1c1e;
}

form.search fieldset label {
  vertical-align: middle;
}

form.search fieldset input[type="text"] {
  width: 15em;
  margin: 0 0.5em 0 0;
  vertical-align: middle;

  background-color: #22262a;
  border-top: 1px solid #040505;
  border-left: 1px solid #040505;
  border-bottom: 1px solid #57616b;
  border-right: 1px solid #57616b;
}

form.search fieldset input[type="submit"] {
  vertical-align: middle;

  background-color: #22262a;
  border-top: 1px solid #57616b;
  border-left: 1px solid #57616b;
  border-bottom: 1px solid #040505;
  border-right: 1px solid #040505;
}

form.search fieldset input[type="submit"]:hover {
  border-top: 1px solid #040505;
  border-left: 1px solid #040505;
  border-bottom: 1px solid #57616b;
  border-right: 1px solid #57616b;
}

a:active, a:link, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#header {
  width: 60em;
  margin: 0.5em auto;
  padding: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
}

sup.too {
  font-size: 0.5em;
  font-weight: normal;
  color: #9F9F9F;
}

span.for {
  font-size: 0.5em;
  font-weight: normal;
  vertical-align: baseline;
}

ul.menu {
  clear: both;

  width: 60em;

  margin: 0 auto;
  padding: 0;

  background: url(images/bar.png) #111111;
  border-top: 1px solid #7a7a79;
  border-left: 1px solid #7a7a79;
  border-bottom: 1px solid #141414;
  border-right: 1px solid #141414;
}

ul.menu li {
  display: inline-block;
  list-style-type: none;

  margin: -1px 1px -1px -1px;
  padding: 4px 0;
}

ul.menu li a:active, ul.menu li a:link, ul.menu li a:visited {
  color: #FFFFFF;
  text-decoration: none;
  padding: 3px 0.5em;

  border-top: 1px solid #7a7a79;
  border-left: 1px solid #7a7a79;
  border-bottom: 1px solid #141414;
  border-right: 1px solid #141414;
}

ul.menu li a:hover {
  border-top: 1px solid #141414;
  border-left: 1px solid #141414;
  border-bottom: 1px solid #7a7a79;
  border-right: 1px solid #7a7a79;
}

#box {
  width: 58em;

  margin: 0 auto;
  padding: 1em;

  border: 1px solid #707880;
  border-top: none;
  background-color: #1a1c1e;
}

#footer {
  width: 60em;

  margin: 0.5em auto;

  font-size: 1em;
  text-align: right;
}

#footer a:active, #footer a:link, #footer a:visited, #footer a:hover {
  color: #9FFFFF;
}

#footer_time {
  font-size: 0.8em;
  float: left;
  color: #9F9F9F;
}

#footer_release {
  font-size: 1em;
}

#footer_credits {
  font-size: 0.8em;
}

h2 {
  margin: 0 0 1em 0;
  padding: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  clear: both;
  margin-bottom: 20px;

  border-spacing: 0;
}

table.legend {
  width: 20%;
  margin-left: auto;
  margin-right: 0;
}

table.legend td.a {
  background-color: #CC0000;
  color: #FFFFFF;
}

table.legend td.b {
  background-color: #888888;
  color: #000000;
}

table.legend td.c {
  background-color: #0055FF;
  color: #FFFFFF;
}

th, td {
  padding: 1px 3px;

  border: 1px outset #000000;
}

th {
  text-align: left;
  background: url(images/bar.png) #111111;
  border-top: 1px solid #7a7a79;
  border-left: 1px solid #7a7a79;
  border-bottom: 1px solid #141414;
  border-right: 1px solid #141414;
}

tbody.padded td {
  padding: 1em;
}

tr {
  background-color: #22262a;
}

tr.spacer {
  height: 1em;
}

tr.list:hover {
  background-color: #32363a;
}

td {
  border-top: 1px solid #57616b;
  border-left: 1px solid #57616b;
  border-bottom: 1px solid #040505;
  border-right: 1px solid #040505;
}


td.quote_public {
  color: #00FF00;
}

td.quote_team {
  color: #00FFFF;
}

span.playername, span.playername *, td.playername, td.playername * {
  color: #FFFFFF;
}

td.playername {
  overflow: hidden;
}

td.playerothernames {
  vertical-align: top;
}

span.quakecolor_black {
  color: #000000;
}

span.quakecolor_red {
  color: #FF0000;

}

span.quakecolor_green {
  color: #00FF00;
}

span.quakecolor_yellow {
  color: #FFFF00;
}

span.quakecolor_blue {
  color: #0000FF;
}

span.quakecolor_cyan {
  color: #00FFFF;
}

span.quakecolor_magenta {
  color: #FF00FF;
}

span.quakecolor_white {
  color: #FFFFFF;
}

div.update {
  text-align: right;
}

div.heading {
  width: 100%;
  text-align: left;
}

span.heading {
  float: left;
}

span.headinglink {
  float: right;
}

div.filter {
  width: 100%;
  text-align: right;
}

div.privacy {
  width: 60%;
  margin: 0 auto 0.5em auto;
  text-align: center;
  color: #FF0000;
}

col.id {
  width: 8%;
}

col.data {
  width: 10%;
}

col.datamore {
  width: 12%;
}

col.datawide {
  width: 14%;
}

col.datadouble {
  width: 24%;
}

col.item {
  width: 20%;
}

col.playername {
  width: 30%;
}

col.playernamewide {
  width: 35%;
}

col.weaponicon {
  width: 42px;
}

col.levelshot {
  width: 170px;
}

col.chart {
  width: 210px;
}

col.balancebar {
  width: 410px;
}

input.sig {
  background-color: #22262a;
  border-top: 1px solid #040505;
  border-left: 1px solid #040505;
  border-bottom: 1px solid #57616b;
  border-right: 1px solid #57616b;
}

span.tooltip {
    border-bottom: 1px dashed gray;
    cursor: help;
}
